footer {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #F8F8F8;
    padding: 30px;
    background: hsla(199, 48%, 19%, 1);
    a {
        text-decoration: none;
        color: #F8F8F8;
    }
    a:hover {
        color: #657274;
    }
}