footer {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color:hsla(0, 0%, 97%, 1);
    padding: 30px;
    background: hsla(199, 48%, 19%, 1);
    a {
        text-decoration: none;
        color:hsla(0, 0%, 97%, 1);
    }
    a:hover {
        color: hsla(189, 53%, 56%, 1);
;
    }
}