input {
    width: 50%;
    padding: 16px;
    margin: 5px;
    border-radius: 40px;
    border: none;
    text-align: center;
    #submit {
        background: hsla(199, 48%, 19%, 1);
        color: whitesmoke;
    }
    #submit:hover {
        background: hsla(189, 53%, 56%, 1);
        color: whitesmoke;
        cursor: pointer;
    }
}

.url-result {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: auto;

    #results {
        padding: 10px 20px;
        padding-right: 30px;
        margin-top: 20px;
    }
    #polarity,
    #agreement,
    #subjectivity,
    #confidence,
    #irony {
        padding: 5px;
        text-align: left;
    }
    #results img {
        width: 250px;
        margin-top: 30px;
    }
    .url-stats {
        padding: 30px;
        margin-top: 30px;
    }
}

